.app-wrapper{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 40px 1fr;
    gap: 10px;
}
.header{
    width: 100%;
    background: #ca6767;
    grid-column: 1/3;
}

.content{
    background: #ca6767;
}

.side-menu{
    background: #ca6767;
}



